[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
celery = {extras = ["redis"],version = "*"}
install = "*"
django-rest-swagger = "*"
coreapi = "*"
reat-framework-swagger = "*"

[requires]
python_version = "3.6"
